<div class="container" fxFlex fxLayout="column" fxLayoutAlign="center center">
    <h3>My Profile</h3>
    <form fxLayout="column" class="w-30-p" name="form" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="user.name" formControlName="name" matInput placeholder="Name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Avatar</mat-label>
            <input [(ngModel)]="user.avatar" [ngModelOptions]="{standalone: true}" matInput placeholder="Avatar">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint><strong>Note* : </strong> Please use extrenal avatar url</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input [(ngModel)]="user.username" formControlName="username" matInput placeholder="Username">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error>Username is required</mat-error>
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" [disabled]="form.invalid" (click)="updateUser()">Update</button>
        <button mat-raised-button color="warn" (click)="deleteUser()">Delete My Account</button>
    </div>
</div>